body {
	background-color: #332222;
	color:#FFFFFF;
}

h3 {
	text-align:center;
}

div.whole {
	width:430px;
	margin-left:auto;
	margin-right:auto;
}

div.centering {
	text-align:center;
	font-size:small;
	color:#BB9977;
}

p { 
	padding-left:20px;
	text-indent: -20px;
}


strong:first-child {
	color:#99BB77;
}
