* {
	box-sizing: border-box;
}

html, body {
	color: #4A4A4A;
    font-family: "Lato",sans-serif;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-size: 1.0rem;
}

body {
	position: static;

}

.cover {
	width: 100%;
	background: url("https://a.slack-edge.com/4030/img/wired/nasa-header-image.jpg") center top no-repeat;
	background-size: cover;
	color: white;
	box-shadow: inset 0 0 2.125rem rgba(0,0,0,.2);
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    position: relative;
}

nav {
	height: 70px;
	font-weight: 700;
	position: absolute;
    top: initial;
    z-index: 99;
    display: block;
    width: 100%;
}

nav a.logo {
	background: url("https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png") left top no-repeat;
	background-size: 106px 60px;
    height: 30px;
    width: 106px;
    float: left;
    margin: 20px 0 0 1rem;
}

nav.top ul {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    float: right;
    line-height: 4.375rem;
}

nav.top ul li {
	display: inline-block; 
}

nav.top ul li a:hover {
	background-color: rgba(0,0,0,0.2);
}

a.no-bg:hover {
	background-color: transparent!important;	
}

a.no-bg i:hover , ul.mobile .no-bg:hover {
	border-color: white;
}

nav.top ul a {
    color: #fff;
    text-decoration: none;
    font-size: .9375rem;
    font-weight: 700;
    margin-left: 9px;
    position: relative;
    line-height: 1em;
    padding: 8px 7px 9px;
    border-radius: 5px;
    opacity: .8;

}

a.has-icon {
	padding: 16px 7px 16px 7px !important;
}

.top a strong {
	border-radius: .25rem;
	background-color: rgb(77, 57, 75);;
	padding: 10px;
	font-size: 0.85rem;
	margin-right: 6px;
}

.has-border {
	font-size: 16px;
	border: 2px solid #EEE;
	border-radius: 4px;
	box-sizing: content-box;
	padding: 8px 10px 8px 10px;
}

ul.mobile {
	display: none;
}

ul.mobile .no-bg {
	padding-left: 14px;
	padding-right: 14px;
}

#story {
	height: calc(100vh - 155px);
    z-index: 1;
    min-height: 686px;
    position: relative;
    max-height: inherit;
    text-align: center;
    padding: 4.25rem 0;
    font-size: 1.59rem;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    width: 100%;
    background-size: cover;
    background-position: center top;
    color: #fff;
    line-height: 1.6rem;
}

.mini-gradient {
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);
    height: 200px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    display: none;
}

.cta-ad {
	position: absolute;
	font-size: 1.59rem;
	line-height: 1.6rem;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: block;
}

h1.story-header {
	width: 840px;
	font-size: 3.8rem;
    line-height: 4.46rem;
    font-weight: 900;
    text-align: center;
    margin: 0 auto 0;
    display: block;
    position: relative;
    letter-spacing: .017rem;
    word-spacing: 0.1rem;
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
}

.cta-container {
	display: inline-block;
    padding: 32px;
    padding-top: 0;
    border-radius: 8;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.cta-subheader {
	display: block;
    font-size: 1.38rem;
    line-height: 1.75rem;
    margin: 40px auto 22px;
    max-width: 869px;
    padding: 0;
    width: 100%;
}

.cta {
	background: rgba(0,0,0,.65);
	font-size: 1.59rem;
	line-height: 1.6rem;
	text-align: center;
	border-radius: 8px;
	display: inline-block;
	padding: 19px 48px;
}

.cta-form {

}

.cta-form input[type="email"] {
	border-radius: 5px;
	font-size: 1.2rem;
	margin-right: 7px!important;
	margin-left: 0!important;
	margin-bottom: 0;
    font-size: 1.249rem;
    padding: .743rem;
    width: 240px;
}

.cta-form button {
	margin: 0;
    line-height: 3rem;
    padding: 0;
    width: 184px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #56B68B;
    border-radius: 4px;
    background: #56B68B;
    color: #FFF;
    vertical-align: top!important;
    font-family: sans-serif;
    font-size: 1.1rem;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor:pointer;
}

.cta-form button:hover {
    opacity: .8;
}


.mini-footer {
	font-size: .9375rem;
    line-height: 1.375rem;
    display: block;
    text-align: center;
    margin: 19px 0 0;
    width: 100%;
}

.mini-footer a {
	color: white;
}

#story-location {
	font-size: .95rem;
    line-height: 1.16rem;
    position: absolute;
    bottom: 1.06rem;
    right: 1.59rem;
    text-align: left;
    padding: 0;
    display: inline-block;
    border-radius: 8px;

}

#story-location a {
	color: white;
	text-decoration: none;
}

#story-location a:hover {
	text-decoration: underline;
}

/* shows up on <640w */
.mobile-story {
    display: none;
}

.footer-dark {
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	background-color: transparent;
    border-top: 1px solid rgba(255,255,255,.1);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 40px 0 0;
    color: #9E9EA6;
    overflow: auto;

}

footer .links {
	clear: both;
    box-sizing: border-box;
    max-width: 1014px;
    padding: 0 1.5rem!important;
    margin: 0 auto;
    overflow: auto;
}

.grid {
	overflow: auto;
	width: 100%;
	color: #9E9EA6;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	text-align: center;
}

.footer-lists {
	width: 23.8%;
	display: block;
	float: left;
    margin: 0 0 2%;
    padding-right: 2%;
    text-align: left;
}

.others {
	margin-left: 1.6%;
}

footer ul {
    margin: 0!important;
    padding: 0;
    list-style-type: none;
}

.plus, .minus {
	display: none;
	font-size: 1.4rem;
	color: #9E9EA6;
	float: right;
}

.minus {
	font-size: 2.4rem;
}

li.cat-1 {
	color: #fff;
	text-transform: uppercase;
    font-size: .6875rem;
    font-weight: 700;
}

.footer-lists ul li a, .footer-lists a:visited {
	font-size: .82rem;
	text-decoration: none;
	color: rgba(255,255,255,.5);
}

.footer-lists a:hover {
	color: rgba(255,255,255,.7);
}

footer .footnote {
	overflow: hidden;
    height: 50px;
    margin-top: 1rem;
    background-color: rgba(255,255,255,.12);
}

.footnote section {
	clear: both;
    max-width: 1014px;
    padding: 0 1.5rem!important;
    margin: 0 auto;
}

.gradient {
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 67%);
    height: 660px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: static;
} 

.footnote section a {
	text-decoration: none;
	color: #9E9EA6;
}

.footnote section a:hover {
	color: rgba(255,255,255,.7);
}

.fa-slack {
	display: inline-block;
    font-size: 26px;
    line-height: 50px;
}

.footnote ul {
	margin: 0 20px 0 0;
    padding: 0;
    list-style-type: none;
    float: right;
    margin-right: -20px !important;
} 

.footnote li {
	display: inline-block;
    list-style: none;
    margin-right: .7rem;
    float: left;
    line-height: 3.2rem;
    font-size: .84rem;
}

.footnote li a i {
	font-size: 1.3rem;
	line-height: 3.4rem;
}

.dummy {
	display: none;
	opacity: 0;
	margin: 0;
	padding: 0;
	z-index: -10;
}

@media only screen and (max-width: 960px) {

	h1.story-header {
		width: 660px;
		font-size: 2.8rem;
    	line-height: 3.7rem;
	    letter-spacing: .0106rem;
	   
	}

}	

@media only screen and (max-width: 780px) {

	h1.story-header {
		width: calc(100% - 50px);
		font-size: 2.3rem;
    	line-height: 3.0rem;
	    letter-spacing: .0106rem;
	   
	}


}

@media only screen and (max-width: 768px) {

	.gradient {
		display: none;
	}

	.mini-gradient {
		display: inline-block;
	}

	ul.wide {
		display: none;
	}

	ul.mobile {
		display: inline-block;
	}

	#story {
		height: 768px;
	}

	.cover {
		background-position: top center!important;
    	background-size: 250%!important;
	}

	#story-location {
		display: none;
	}

	footer.footer-dark {
		background-color: #000;
    	border-top: 0;
    	padding: 0!important;
	}

	section.links {
		padding: 0!important;
	}

	footer li {
	    padding: 2px 0;
	    display: none;
	    margin-right: 0;
	}

	footer li:first-child {
	    text-indent: 0;
	    display: block;
	}


	.footer-lists {
		margin: 0;
		border-top: 1px solid rgba(255,255,255,.14);
		cursor: pointer;
		padding: 14px 18px 10px;
		width: 100%!important;
		position: relative;
	}

	.plus {
		display: inline-block;
		float: right;
	}

	.footer-lists:focus li {
		display: block;
	}

	.footer-lists:focus .dummy {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 100;
	}

	.footer-lists:focus {
		outline: 0;
	}

	.footer-lists:focus .plus {
		display: none;
	}

	.footer-lists:focus .minus {
		display: inline-block;
	}

	.footnote ul {
	    margin-right: -20px !important;
	} 

	.footer-lists ul li a {
		padding-left: 16px;
	}

}

@media only screen and (max-width: 640px) {

	.cover {
		background-image: none;
	    background-color: transparent;
	}

	#story {
		background-position: center 30%;
	    background-image: url("https://a.slack-edge.com/4030/img/wired/mobile/nasa-header-image-mobile.jpg");
		height: 640px;
		min-height: 640px;
		max-height: inherit;
    	z-index: 1;
    	background-color: transparent;
    	background-size: cover;
	    text-shadow: 0 0 1px rgba(0,0,0,.1);
	    padding: 4.25rem 0;
	    position: relative;
		}

	.cta-subheader {
		display: none;
	}

	.cta {
		display: none;
	}

	#story-location {
		display: none;
	}

	.mobile-story {
		display: block;
		background-size: cover;
	    background-position: center top;
	    box-shadow: inset 0 0 2.125rem rgba(0,0,0,.2);
	    text-shadow: 0 0 1px rgba(0,0,0,.1);
	    position: relative;
	    width: inherit;
	    padding: 0;
	    margin: 0;
    	border: none;
		color: #fff;
	    text-align: center;
	    background-color: #2c2d30;
	    background-image: none;
	    padding: 0;
	    border: none;
	    position: relative;
	    font-size: 1.249rem;
	}

	.mobile-story .cta-subheader {
		background-color: transparent;
	    border-top: 1px solid rgba(255,255,255,.5);
	    margin: 0 30px;
	    padding-left: 0;
	    padding-right: 0;
	    width: auto;
	    display: inline-block;
	    padding: 32px;
	}

	.mobile-story .cta {
		padding: 20px 25px 38px;
    	background-color: transparent;
    	background-color: #2c2d30;
    	border-radius: 0;
    	display: inline-block;
    	max-width: 450px;
    	width: 100%;
	}

	.mobile-story .cta-form {
		vertical-align: middle!important;
	}

	.mobile-story .cta-form input[type="email"] {
		display: block;
	    width: 100%;
	    margin-bottom: 10px;
	}

	.mobile-story button {
		display: block;
		width: 100%;
	}

}

@media only screen and (max-width: 480px) {
	
	#story {
		min-height: 200px !important;
		height: 480px !important;
		box-shadow: none;
	}

}

@media only screen and (max-width: 380px) {
	.mobile li:first-child {
		display: none;
	}
}